spring:
  application:
    name: Anime-Service
  web:
    error:
      include-stacktrace: on_param
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: admin
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  servlet:
    context-path: /
